@import "./font.css";

* {
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

.dark-theme {
  --color-black: #fff;
  --color-white: #1e2022;
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

#root {
  height: 100vh;
  overflow-x: hidden;
}
