@import "./font.css";

* {
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

#root {
  height: 100vh;
  display: flex;
}
